<p>Please sign in:</p>

<form method='post' action='/sessions'>
	Email: <input type='text' name='email'>
	Password: <input type='password' name='password'>
	<input type='submit' value='Sign in'>
</form>

<!-- <p>Forgot password?</p>
<form method='post' action='/users/reset_password/:token'>
	Email: <input type='text' name='email_for_forgotten_password'>
</form> -->