<section id="new-link">
	<h2>Submit a new link</h2>
	<form action='/links' method='post'>
		<p>
		<input type='text' name='uri' placeholder='Enter uri here...'>
		</p>
		<p>
		<input type='text' name='title' placeholder='Enter title here...'>
		</p>
		<p>
		<input type='text' name='tags' placeholder='Enter tags here (separated by a space'...>
		</p>
		<p>
		<input type='submit' value='Add link' class='button'>
		</p>
	</form>
</section>	