<header>
	<a href='/'><h1 id='logo'>Visit Yuris - Bookmark Manager</h1></a>
	<nav id='user-links'>
		<% if current_user %>
			<h4>Welcome, <%= current_user.email %></h4>
			<a href='/links/new' id='new_link' class='button highlighted'>Add link</a>
			<form  id='sign-out' method='post' action='/sessions'>
				<input type='hidden' name='_method' value='delete'>
				<input type='submit' value='Sign out' class='button'>
			</form>
		<% else %>
			<a href='/users/new' id='sign-up' class='button'>Sign up</a>
			<a href='sessions/new' id='sign-in' class='button'>Sign in</a>
		<% end %>
	</nav>
</header>