<!DOCTYPE html>

<html>

<head>
	<title>Visit Yuris - The Bookmark Manager</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">  
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">  
</head>

<body>
	<%= partial :header %>
	<%= partial :flash %>
	<%= yield %>

</body>

</html>